<div class="row">
  <div class="span7">
    <h2>Artist's Contact Information:</h2>

    <h4>Email: johndo@xxxxxx.com</h4>
    <h4>Phone: (555)555-5555</h4>
    <h4>Facebook: xxxxxxxxxxxx</h4>
    <h4>Twitter: xxxxxxxxxxxxxx</h4>
    <h4>LinkedIn: xxxxxxxxxxxxxx</h4>

  </div>
</div>